{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VIEWNOTE</title>
	<link rel="stylesheet" href="{% static 'styles/addnotes.css' %}">
	<script defer src="{%  static 'scripts/addnotes.js' %}" type="text/javascript"></script>
</head>
<body>
	<div class="header">
		<div class="settings js-click">
                        		<span></span>
                        		<span></span>
                        		<span></span>
                </div>
                <div class="dp"></div>
	</div>
	<div class="menu">
                        <a><span>Settings</span></a>
                        <a><span>Log Out</span></a>
                </div>
	<div class="note_context">
                {% if note.title != None %}
		<div class="title">{{ note.title }} </div>
                {% else %}
                <div class="title">Title</div>
                {% endif %}
		<span class="separator"></span>
                <div class="note">{{ note.content }}</div>
	</div>
<span class="date-time-stamp dts">Edited on {{ note.modified_date }}</span>
</body>
</html>